# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches:
     - main
    paths-ignore:
      - 'README.md'
      - 'README_CN.md'
      - 'docs/**'

  pull_request:
    paths-ignore:
      - 'README.md'
      - 'README_CN.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_cuda102:
    runs-on: ubuntu-18.04
    defaults:
      run:
        shell: bash -l {0}
    container:
      image: openxrlab/xrmocap_runtime:ubuntu1804_x64_cu102_py38_torch181_mmcv153
      credentials:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PWD}}
    steps:
      - uses: actions/checkout@v2
      - name: Show conda env
        run: |
          source /root/miniconda3/etc/profile.d/conda.sh && conda deactivate
          conda info -e
          conda activate openxrlab
          conda list | grep torch
          conda list | grep mmcv
      - name: Prepare test data
        run: |
          sh scripts/download_test_data.sh
      - name: Prepare weight
        run: |
          sh scripts/download_test_data.sh
          mkdir weight
          cd weight
          wget https://download.openmmlab.com/mmdetection/v2.0/faster_rcnn/faster_rcnn_r50_fpn_1x_coco/faster_rcnn_r50_fpn_1x_coco_20200130-047c8118.pth
          wget https://download.openmmlab.com/mmpose/top_down/hrnet/hrnet_w48_coco_wholebody_384x288_dark-f5726563_20200918.pth
          wget https://download.openmmlab.com/mmtracking/mot/faster_rcnn/faster-rcnn_r50_fpn_4e_mot17-half-64ee2ed4.pth
          wget https://download.openmmlab.com/mmtracking/mot/reid/tracktor_reid_r50_iter25245-a452f51f.pth
          cd ..
      - name: Build and install
        run: |
          rm -rf xrmocap.egg-info
          source /root/miniconda3/etc/profile.d/conda.sh && conda activate openxrlab
          pip install xrprimer
          pip install -e .
      - name: Run unittests and generate coverage report
        run: |
          source /root/miniconda3/etc/profile.d/conda.sh && conda activate openxrlab
          coverage run --source xrmocap -m pytest tests/
          coverage xml
          coverage report -m
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
